/* Use this file to rewrite basic prime-vue classes in general (for example for all labels in fields) */

.form__title {
  color: rgb(13, 13, 13); // todo вынести в переменную css
}

.p-fileupload-status,.p-fileupload-file-badge {
  display: none;
}

.p-accordionpanel:not(.p-accordionpanel-active):not(.p-disabled) > .p-accordionheader:hover {
  color: var(--header-color-primary) !important;
}
.p-accordionheader {
  color: var(--header-color-primary) !important;
}

.table-image {
  width: var(--image-table-width);
  height: var(--image-table-height);
  object-fit: contain; /* Чтобы изображение сохраняло пропорции */
}
