/* Use this file to rewrite basic prime-vue classes in general (for example for all labels in fields) */

.form__title {
  color: rgb(13, 13, 13); // todo вынести в переменную css
}

.p-fileupload-status,.p-fileupload-file-badge {
  display: none;
}

.p-datatable-table-container, .p-treetable-table-container{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

[data-pc-section="headertitle"] {
  font-size: 18px;
  font-weight: bold;
  color: var(--header-color-primary); // todo example how to use color from var
}


.p-paginator {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.p-treetable-tbody > tr.p-treetable-row-selected {
  background-color: #d3d3d3 !important;
  color: black !important;
}

.p-treetable-tbody > tr[aria-level]:not([aria-level="1"]).p-treetable-row-selected {
  background-color: #efefef !important;
}

.p-accordionpanel:not(.p-accordionpanel-active):not(.p-disabled) > .p-accordionheader:hover {
  color: var(--header-color-primary) !important;
}
.p-accordionheader {
  color: var(--header-color-primary) !important;
}

.table-image {
  width: var(--image-table-width);
  height: var(--image-table-height);
  object-fit: contain; /* Чтобы изображение сохраняло пропорции */
}
